.cards__pic {
  width: 100%;
  
  object-fit: cover;
}

.cards__container {
  padding: 2px;
  display: flex;
  flex-direction: row;
  align-items: center;
  box-sizing: border-box;
  justify-content: space-between;
}

.cards__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 0 30px;
}

.cards {
  background: #FDFDFD;
}


.cards__name {
  font-size: 13px;
  font-weight: 500;
  line-height: normal;
  margin: 0;
}

.cards__duration {
  margin: 0;
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  display: flex;
  align-items: center;
  color: #A0A0A0;
  align-self: start;
}

.cards__button {
  width: 30px;
  height: 30px;
  background: rgba(255, 255, 255, 0);
  cursor: pointer;
  transition: opacity 0.5s;
  margin: 0;
  padding: 0;
  border: 0;
}

.cards__button:hover {
  opacity: 0.9;
}

.cards__save {
  background-image: url(../../images/button__save.svg);
}

.cards__close {
  background-image: url(../../images/movieclose.svg);
}

@media screen and (max-width: 880px) {
  .cards__pic {
    height: 190px;
  }
}

@media screen and (max-width: 700px) {
  .cards__pic {
    height: 168px;
  }
}